@tailwind base;
@tailwind components;
@tailwind utilities;

.category-buttons-group{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem
}

.post-form-heading{
  font-size: 1.2rem;
  font-weight: 700;
}

.select{
  border-width: 1px;
  border-color: rgb(30 41 59);
  /* margin-left: 1rem; */
  padding: 0.5rem/* 8px */;
}


/* 
.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.hamburger {
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: #161616;
    position: fixed;
    top: 0;
    font-size: 1.3rem;
    right: 0;
    width: 100%;
    height: 50%;
    padding: 2rem;
    z-index: 1000;
  }

  .navbar.hidden {
    display: none;
  }

  .navbar a {
    color: #fff;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2000;
    color: #fff;
  }
}  */
